body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #4c91d6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #91cf40;
  border: 2px solid #444;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.cell.x {
  color: #4956cc;
}

.cell.o {
  color: #e84545;
}

.status {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #0099cc;
  color: rgb(46, 141, 34);
  border-radius: 5px;
}

button:hover {
  background-color: #0077aa;
}
